.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    background-color: burlywood;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Passero One', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: wheat;
    cursor: pointer;
}

.a {
    font-family: 'Courier New', Courier, monospace;
}

.b {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}

.c {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}